.root {
  width: 100%;
  min-height: calc(100vh - 56px);
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  margin: 20% 5% 0;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
  background-color: rgb(255 255 255/0.95);
}

.text {
  display: block;
  margin-bottom: 1rem;
}

.text div:first-child {
  margin-right: 0;
}

@media screen and (min-width: 600px) {
  .text {
    display: flex;
  }
  .text div:first-child {
    margin-right: 5px;
  }
}

.google {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
}
