.paper {
  display: flex;
  height: 125px;
  padding: 16px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
  cursor: pointer;
  transition: all 0.1s linear;
}

.paper:hover {
  transform: scale(1.02);
}
