.header {
  padding: 0 5%;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
}

.logoBtn {
  padding: 0 8px;
  margin-right: 8px;
}

.logoImg {
  width: 36px;
  height: 36px;
}

.title {
  flex-grow: 1;
  white-space: nowrap;
  letter-spacing: 0.3rem;
  user-select: none;
}

.profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
