.paper {
  display: flex;
  padding: 16px;
  border-radius: 0.875rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1);
  cursor: pointer;
  transition: all 0.1s linear;
}

.paper:hover {
  transform: scale(1.02);
}

.imgContainer {
  min-width: 120px;
  margin-right: 16px;
}

.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  display: block;
  justify-content: space-between;
}

.recommend {
  display: flex;
  justify-content: flex-start;
  word-break: keep-all;
}

.recommendIcon {
  font-size: 14px;
  padding: 3.5px 0 4.5px;
  margin-right: 4px;
}

.category {
  text-align: start;
}

.info {
  width: 125px;
}

@media screen and (min-width: 375px) {
  .textContainer {
    display: flex;
  }
  .recommend {
    justify-content: flex-end;
  }
  .category {
    text-align: end;
  }
}

@media screen and (min-width: 390px) {
  .info {
    width: 140px;
  }
}

.infoText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statusContainer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.status {
  margin-right: 10px;
}

.starIcon {
  color: #ffcc33;
  margin-right: 5px;
}

.heartIcon {
  color: #ff6666;
  margin-right: 5px;
}

.commentIcon {
  color: #33cccc;
  margin-right: 5px;
}
